@font-face {
    font-family: futura;
    src: url("../src/assets/fonts/futura_normal.woff2") format("woff2");
  }
  @font-face {
    font-family: futuraP5;
    font-weight: 500;
    src: url("../src/assets/fonts/futura_semibold.woff2") format("woff2");
  }
  @font-face {
    font-family: galanoBold ;
    /* font-weight: 700; */
    src: url("../src/assets/fonts/GalanoGrotesqueBold.otf") format("otf");
  }
@import "tailwindcss";
@plugin "daisyui";


/* Custom themese */
@theme {
    --font-futura-normal: futura, "sans-serif";
    --font-futura-semi-bold: futuraP5, "sans-serif";
    --font-galano-bold: galanoBold, "sans-serif";
  }
.navbar-icon{
  @apply btn btn-ghost btn-circle text-xl;
}
